<li class="nav-item">
    <a class="nav-link collapsed text-truncate @Html.ActiveClass("AkBankRecon")" href="#submenuAkBankRecon" data-toggle="collapse" data-target="#submenuAkBankRecon"><i class="fa-solid fa-code-compare pr-2"></i><span class="pl-2">Penyesuaian Bank</span></a>
    <div class="collapse" id="submenuAkBankRecon" aria-expanded="false">
        <ul class="flex-column pl-2 nav">
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("AkBankRecon")" asp-controller="AkBankRecon" asp-action="Index"><span>Penyesuaian Bank</span></a></li>
        </ul>
    </div>
</li>