<li class="nav-item">
    <a class="nav-link collapsed text-truncate @Html.ActiveClass("JProfilKategori")" href="#submenuPengurusanJadual" data-toggle="collapse" data-target="#submenuPengurusanJadual"><i class="fas fa-columns pr-2"></i><span class="pl-1">Jadual</span></a>
    <div class="collapse" id="submenuPengurusanJadual" aria-expanded="false">
        <ul class="flex-column pl-2 nav">
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("JProfilKategori")" asp-controller="JProfilKategori" asp-action="Index"><span>Profil Kategori</span></a></li>
        </ul>
    </div>
</li>
