@*<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Permohonan
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" asp-area="" asp-controller="SpPendahuluanPelbagai" asp-action="Index">Pendahuluan Pelbagai</a>
        
    </div>
</li>*@

<li class="nav-item">
    <a class="nav-link collapsed text-truncate @Html.ActiveClass("SpPendahuluanPelbagai")" href="#submenuPermohonan" data-toggle="collapse" data-target="#submenuPermohonan"><i class="far fa-file-alt pr-2"></i><span class="pl-2">Permohonan</span></a>
    <div class="collapse" id="submenuPermohonan" aria-expanded="false">
        <ul class="flex-column pl-2 nav">
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("SpPendahuluanPelbagai")" asp-controller="SpPendahuluanPelbagai" asp-action="Index"><span>Pendahuluan Pelbagai</span></a></li>
        </ul>
    </div>
</li>