<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] - SUMBER</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>
<style>
    .image-container {
        width: 80px;
        height: 80px;
        text-align: center;
    }

        .image-container img {
            height: 100%;
        }

    .flexrow {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex !important;
    }

        .flexrow > div {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
        }

    th {
        font-size: 1.0rem;
        line-height: 1.1rem;
    }

    td {
        font-size: 0.9rem;
        line-height: 1.1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1.1rem;
    }

    h6 {
        font-size: 1rem;
    }

    p {
        font-size: 0.9rem;
    }
</style>
<body style="font-size: 12px;">
    @RenderBody()
</body>
</html>