@*<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Terimaan
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" asp-area="" asp-controller="AkTerima" asp-action="Index">Resit Rasmi</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-area="" asp-controller="LaporanTerimaan" asp-action="Index">LPR001 Laporan Daftar Resit</a>
    </div>
</li>*@

<li class="nav-item">
    <a class="nav-link collapsed text-truncate 
    @Html.ActiveClass("AkTerima")
    @Html.ActiveClass("AkPenyataPemungut")
    " href="#submenuTerimaan" data-toggle="collapse" data-target="#submenuTerimaan"><i class="fas fa-hand-holding-usd pr-2"></i><span class="pl-1">Terimaan</span></a>
    <div class="collapse" id="submenuTerimaan" aria-expanded="false">
        <ul class="flex-column pl-2 nav">
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("AkTerima")" asp-controller="AkTerima" asp-action="Index"><span>Resit Rasmi</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("AkPenyataPemungut")" asp-controller="AkPenyataPemungut" asp-action="Index"><span>Penyata Pemungut</span></a></li>
        </ul>
    </div>
</li>