<div class="row">
    <div class="col-8">
        <h5 class="text-uppercase mb-0">Senarai @ViewData["Title"]</h5>
        <span class="ac-ref">Indeks</span>
    </div>
    <div class="col-4 text-right hidden-mobile">
        <a class="text-right btn ac-success" asp-action="Create">Tambah Baru</a>
    </div>
    <div class="col-4 text-right show-mobile">
        <a class="text-right text-success " asp-action="Create"><i class="fa fa-plus fa-2x"></i></a>
    </div>

</div>
<hr class="mt-2" />