@*<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tunai Runcit
    </a>
    @if (User.Identity.IsAuthenticated)
    {

        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Supervisor"))
        {
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" asp-area="" asp-controller="AkTunaiRuncit" asp-action="Index">Pemegang Tunai Runcit</a>
                <a class="dropdown-item" asp-area="" asp-controller="AkTunaiCV" asp-action="Index">Tunai Keluar</a>
            </div>
        }
        else
        {
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" asp-area="" asp-controller="AkTunaiCV" asp-action="Index">Tunai Keluar</a>
            </div>
        }
    }

</li>*@

<li class="nav-item">
    <a class="nav-link collapsed text-truncate @Html.ActiveClass("AkTunaiCV")" href="#submenuTunaiRuncit" data-toggle="collapse" data-target="#submenuTunaiRuncit"><i class="fas fa-cash-register pr-2"></i><span class="pl-1">Tunai Runcit</span></a>
    <div class="collapse" id="submenuTunaiRuncit" aria-expanded="false">
        <ul class="flex-column pl-2 nav">
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("AkTunaiCV")" asp-area="" asp-controller="AkTunaiCV" asp-action="Index"><span>Tunai Keluar</span></a></li>
        </ul>
    </div>
</li>