@model SUMBER.Models.Login.ViewModel.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Log in - Penghantaran Emel";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
    .wrap-login {
        padding: 42px 50px 33px 55px;
        background: #fff;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .login-pic {
        width: 100%;
    }
</style>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login animate__bounceIn">
            <div class="login-pic text-center">
                <h3 class="text-danger pb-2">Penghantaran Emel Gagal</h3>
                <p class="pb-2">
                    Emel ini tidak wujud. Sila isi emel yang telah berdaftar sahaja.
                </p>
                <a asp-controller="Account" asp-action="ForgotPassword" class="text-primary">Kembali ke Paparan Lupa Katalaluan</a>
            </div>
        </div>
    </div>
</div>