@model SUMBER.Models.Login.ViewModel.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Log in - Lupa Katalaluan";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 animate__bounceIn">
            <div class="login100-pic">
                <img src="~/img/MainLogo_Syarikat.webp" alt="IMG">
            </div>

            <form class="login100-form validate-form animate__bounceIn" asp-controller="Account" asp-action="ForgotPassword" method="post" role="form">
                <h6 class="login100-form-big-title">
                    SPMB SUMBER
                </h6>
                <hr>
                <span class="login100-form-title text-info">
                    Lupa Katalaluan?
                </span>
                <p class="text-center p-t-12">
                    Sila masukkan emel yang telah didaftarkan
                </p>
                <div asp-validation-summary="All" class="text-danger mb-3"></div>

                <div class="wrap-input100">
                    <input class="input100" type="text" asp-for="Emel" placeholder="Emel">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Hantar Emel
                    </button>
                </div>

                <div class="text-center p-t-12">
                    <a asp-controller="Account" asp-action="Login" class="text-primary">Kembali Log Masuk</a>
                </div>

                <div class="text-center p-t-100">
                </div>
            </form>
        </div>
    </div>
</div>
