
@{
    ViewData["Title"] = "Kunci Akaun";
}

<header>
    <h1 class="text-danger">
        Akaun Pengguna Dikunci
    </h1>
    <p class="text-danger">
        Akaun pengguna ini dikunci. Sila cuba sebentar lagi.
    </p>
</header>