@model SUMBER.Models.Login.ViewModel.ResetPasswordViewModel

@{
    ViewData["Title"] = "Tukar Katalaluan";
}
<div class="container">
    <div class="card">
        <div class="card-header ">
            <h6>Tukar Katalaluan</h6>
        </div>
        <div class="card-body box-shadow">
            <form asp-action="ChangePassword" method="post" class="needs-validation">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-row mb-2 ">
                    <div class="col-md-2">
                        <label class="form-control-label">
                            Pengguna
                        </label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>

                            <input asp-for="Email" class="form-control form-control-sm" required readonly />
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row mb-2">
                    <div class="col-md-2">
                        <label asp-for="Password" class="form-control-label">
                        </label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            </div>
                            <input asp-for="Password" type="password" class="form-control form-control-sm" required />
                        </div>

                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row mb-2">
                    <div class="col-md-2">
                        <label asp-for="ConfirmedPassword" class="form-control-label">
                        </label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            </div>
                            <input asp-for="ConfirmedPassword" type="password" class="form-control form-control-sm" required />
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a asp-action="Index" asp-controller="Home" class="btn btn-warning" style="width:auto">Batal</a>
                </div>
            </form>
        </div>
    </div>


</div>
