@model SUMBER.Models.Modules.JKW

@{
    ViewData["Title"] = "Kump. Wang - Tambah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card box-shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h5 class="text-uppercase text-primary mb-0">Kumpulan Wang - Tambah</h5>
                <span class="ac-ref"><a asp-action="Index" class="text-secondary">Indeks</a> / Tambah</span>
            </div>
            <div class="col-4 text-right">
                <a asp-action="Index" class="text-secondary"><i class="fas fa-times fa-2x"></i></a>
            </div>
    
        </div>
        <hr class="mt-2"/>

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Kod" class="control-label"></label>
                <input asp-for="Kod" class="form-control form-control-sm" />
                <span asp-validation-for="Kod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perihal" class="control-label"></label>
                <input asp-for="Perihal" class="form-control form-control-sm text-uppercase" />
                <span asp-validation-for="Perihal" class="text-danger"></span>
            </div>

            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" class="btn ac-primary btn-sm" />
                    <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>
        
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
