@model IdentityRole
@{

    var title = "Tambah Tahap Pengguna";
    ViewData["Title"] = title;
}

<form method="post">
    @if (Model!=null && !String.IsNullOrEmpty(Model.Id))
    {
        title = "Ubah Tahap Pengguna";
        <input asp-for="@Model.Id" hidden />
    }
    <div class="border p-3 bg-white">
        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Id"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Id" readonly class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control form-control-sm" autocomplete="off" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row py-2">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            @if (Model != null && !String.IsNullOrEmpty(Model.Id))
                            {
                                //update
                                <input type="submit" class="btn btn-info w-100" value="Ubah" />
                            }
                            else
                            {
                                //create
                                <input type="submit" class="btn btn-success w-100" value="Tambah" />
                            }

                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-secondary w-100">Batal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>