@model dynamic

@{
    ViewData["Title"] = "Halaman Utama";
    var user = UserManager.GetUserAsync(User);
    var namaUser = _context.applicationUsers.FirstOrDefault(x => x.Email == user.Result.Email);
    var pekerja = _context.SuPekerja.FirstOrDefault(x => x.Id == namaUser.SuPekerjaId);
    var jawatan = "Super Admin";
    if (pekerja != null)
    {
        jawatan = pekerja.Jawatan;
    }

}

@*div Header*@
<div class="row">
    <div class="col-8">
        <h5 class="text-secondary text-uppercase">Dashboard</h5>
    </div>
    
</div>
<hr class="mt-0" />
@*div Header end*@

@*div Header*@
<div class="row mb-3">
    <div class="col-lg-8">
        <h5 class=" mb-0">Selamat Datang, @namaUser.Nama</h5>
    </div>
    
</div>

@*div Header end*@


