@{
    ViewData["Title"] = "Penyelenggaraan Sistem";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
    .wrap-login {
        padding: 42px 50px 33px 55px;
        background: #fff;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .login-pic {
        width: 100%;
    }
</style>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login animate__bounceIn">
            <div class="login-pic text-center">
                <h3 class="text-danger mb-2">Sistem dalam Penyelenggaraan</h3>
                <h6 class="text-muted">Sebarang info terkini akan diberitahu kelak. Terima kasih.</h6>

                <div class="container-login100-form-btn">
                    <form id="logOutForm" method="post" asp-controller="Account" asp-action="LogOff">
                        <button type="submit" class="login100-form-btn text-capitalize">Sila klik untuk kembali ke paparan Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
