<script type="text/javascript">

    $("body").on("click", "#btnAdd1", function () {
        //Reference the Name and Country TextBoxes.
        var txtNama = $("#txtNama");
        var txtNokp = $("#txtNokp");
        var txtHubungan = $("#txtHubungan");

        //Get the reference of the Table's TBODY element.
        var tBody = $("#tblObjek > TBODY")[0];
        //Add Row.
        var check = false;
        var table = $("#tblObjek tbody");
        table.find('tr').each(function (i, el) {
            var $tds = $(this).find('td');
            var loop = $tds.eq(0).text();
            if (txtNokp.val().toString().trim() === loop.toString().trim()) {
                check = true;
            };
        });
        if (!check && txtNama.val().length > 0 && txtNokp.val().length > 0 && txtHubungan.val().length > 0) {
            var row = tBody.insertRow(-1);

            //Add col1 cell.
            var cell = $(row.insertCell(-1));
            cell.html(txtNokp.val());
            cell.prop("hidden", !this.checked);

            //Add col2 cell.
            var cell = $(row.insertCell(-1));
            cell.html(txtNama.val());

            //Add col3 cell.
            var cell = $(row.insertCell(-1));
            cell.html(txtNokp.val());

            //Add col4 cell.
            var cell = $(row.insertCell(-1));
            cell.html(txtHubungan.val());

            //Add col5 cell.
            cell = $(row.insertCell(-1));
            var btnRemove1 = $("<button class='btn btn-danger btn-sm' type='button' id='btnRemove1' onclick='Remove1(this)'><i class='fas fa-trash'></i></button>");
            cell.append(btnRemove1);

            var tanggungan = {
                NoKP: txtNokp.val(),
                Nama: txtNama.val(),
                Hubungan: txtHubungan.val()
            }

            if (txtNokp.val()) {
                $.ajax({
                    type: "POST",
                    url: "/SuPekerja/SaveTanggungan",
                    data: tanggungan,
                    dataType: "json",
                    success: function (r) {
                        //Clear the TextBoxes.
                        txtNama.val('');
                        txtNokp.val('');
                        txtHubungan.val('');
                    },
                    error: function (req, status, error) {
                        alert(error);
                    }
                });
            }
        };
    });

    function Remove1(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var nama = $("TD", row).eq(1).html();
        var nokp = $("TD", row).eq(0).html();
        if (confirm("Hapus maklumat : " +nokp+" - "+ nama + "?")) {
            //Get the reference of the Table.
            var table = $("#tblObjek")[0];

            var tanggungan = {
                NoKP: nokp,
            }
            if (name != null) {
                $.ajax({
                    type: "POST",
                    url: "/SuPekerja/RemoveTanggungan",
                    data: tanggungan,
                    dataType: "json",
                    success: function (r) {
                        //Delete the Table row using it's Index.
                        table.deleteRow(row[0].rowIndex);
                    }
                });
            }
        }
    };

    //validation form
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    $(document).ready(function () {
        $.validator.setDefaults({
            errorElement: "span",
            errorClass: "help-block",
            //	validClass: 'stay',
            highlight: function (element, errorClass) {
                $(element).addClass(errorClass); //.removeClass(errorClass);
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass); //.addClass(validClass);
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },

            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }

            },

        });
    });
    //validation form end

</script>