@model SUMBER.Models.Modules.JJantina

@{
    ViewData["Title"] = "Jantina - Hapus";
}

<h3>Hapus</h3>

<h5 class="text-danger">Anda pasti untuk menghapuskan maklumat berikut?</h5>
<div>
    <h5>Jantina</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Perihal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Perihal)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Hapus" class="btn btn-danger btn-sm" /> |
        <a asp-action="Index">Kembali ke Indeks</a>
    </form>
</div>
